@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}
